.movie-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 200px;
  cursor: pointer;
  transition: transform 0.2s ease;
  background-color: #fafafa;
  padding: 10px;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  border-radius: 10px;
}

.movie-card h3 {
  font-size: 16px;
  margin: 10px 0 5px;
}

.movie-card p {
  font-size: 14px;
  color: #666;
}
